<div class="mx-10">
    <div class="flex justify-between">
        <mat-checkbox
            [checked]="all_selected"
            [indeterminate]="some_selected"
            (change)="toggleSelectAll($event.checked)"
            class="-ml-3 flex-shrink-0 select-none"
        >
            <span>{{'COOL_LIST.SELECTED' | translate}} </span>{{selected_count}}<span> {{'COOL_LIST.ITEMS' | translate}}</span>
        </mat-checkbox>
        <button mat-raised-button color="primary" class="btn-all rounded-lg ml-auto relative pl-10">
            {{'COOL_LIST.INSTALL_ALL' | translate}}
        </button>
    </div>
    <mat-accordion class="grow" multi displayMode="flat">
        <mat-list>
            <app-cool-card
                *ngFor="let cool of cools$ | async"
                [cool]="cool"
            ></app-cool-card>
        </mat-list>
    </mat-accordion>
</div>
