.example-viewport {
    border: 1px solid black;
    @apply flex-grow
}

.example-item {
    height: 50px;
}
.btn-all {
    background-image: url('/assets/images/btn_magic_wand.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 12px center;
}