.mat-expansion-panel-header {
    @apply pr-4 h-auto;
}

.mat-expansion-panel-header-title {
    @apply whitespace-nowrap mr-0 text-[#F5F5F6];
}

.mat-expansion-panel-header-description {
    @apply flex-grow-0 justify-between mr-0;
}

mat-checkbox {
    @apply flex;
}
.cool-card {
    &.selected {
        outline: 2px solid #9E77ED;
    }
}
::ng-deep .mat-expansion-panel-body{
    padding: 0 !important;
}
::ng-deep .mat-step-header {
    padding: 8px !important
}
::ng-deep .mat-content.mat-content-hide-toggle {
    margin-right: 0px !important;
}
.toggle-panel {
    background: linear-gradient(180deg, #101828 0%, #0C111D 100%);
}
.img-expand {
    transition: transform 0.4s ease-in-out;
    transform: rotate(0deg);
    &.img-rotate {
        transform: rotate(180deg);
    }
}