.mat-expansion-panel-header {
    @apply pr-4 h-auto;
}

.mat-expansion-panel-header-title {
    @apply whitespace-nowrap mr-0 text-[#F5F5F6];
}

.mat-expansion-panel-header-description {
    @apply flex-grow-0 justify-between mr-0;
}

mat-checkbox {
    @apply flex;
}
#check-card {
    border: 1px solid rgb(31,36,47) !important;
}
::ng-deep .mat-expansion-panel-body{
    padding: 0 !important;
}
::ng-deep .mat-step-header {
    padding: 8px !important
}