<div id="check-card"
     matRipple
     class="flex flex-row p-6 mb-1.5 border-solid border-2 border-[#CECFD2] rounded-[16px] items-start select-none"
     (click)="toggle_selected($event)"
>
    <mat-checkbox disableRipple="false" color="primary" [checked]="selected"></mat-checkbox>
    <mat-expansion-panel #expansionPanel hideToggle class="flex flex-col grow" (click)="$event.stopPropagation()">
        <mat-expansion-panel-header>
            <div class="flex flex-col grow">
                <div class="flex flex-row items-center justify-between">
                    <mat-panel-title>{{cool.name}}</mat-panel-title>
                    <mat-panel-description>
                        <button mat-raised-button color="primary" class="flex-shrink-0" (click)="toggle_panel($event)">
                            Install
                        </button>
                    </mat-panel-description>
                </div>
                <span>{{cool.description}}</span>
            </div>
        </mat-expansion-panel-header>

        <mat-stepper orientation="vertical" linear="true" #stepper>
            <mat-step *ngFor="let task of cool.install_tasks">
                <ng-template matStepLabel>{{task.name}}</ng-template>
                {{task.description}}
            </mat-step>
<!--            <mat-step [stepControl]="secondFormGroup">-->
<!--                <form [formGroup]="secondFormGroup">-->
<!--                    <ng-template matStepLabel>Fill out your address</ng-template>-->
<!--                    <mat-form-field>-->
<!--                        <mat-label>Address</mat-label>-->
<!--                        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"-->
<!--                               required>-->
<!--                    </mat-form-field>-->
<!--                    <div>-->
<!--                        <button mat-button matStepperPrevious>Back</button>-->
<!--                        <button mat-button matStepperNext>Next</button>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </mat-step>-->
        </mat-stepper>
    </mat-expansion-panel>
</div>
